[submodule "exercises/create-million-parameter-llm-from-scratch"]
	path = exercises/create-million-parameter-llm-from-scratch
	url = https://github.com/FareedKhan-dev/create-million-parameter-llm-from-scratch
[submodule "exercises/LLMs-from-scratch"]
	path = exercises/LLMs-from-scratch
	url = https://github.com/rasbt/LLMs-from-scratch
[submodule "exercises/scratch-llm"]
	path = exercises/scratch-llm
	url = https://github.com/clabrugere/scratch-llm
